<!-- <! — “Parent Template” →
<!DOCTYPE html>
<html>
<head>
 {% block head %}
 <title>{% block title %}{% endblock %}</title>
 {% endblock %}
</head>
<body>
 {% block body %}{% endblock %}
</body>
</html>




<!-<!DOCTYPE html> -->
<!-- <html>
  <head>
    <title>gardenapi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="header">
      <h1>Green Gardens</h1>
    </div>
  
    <nav>
    <div class="topnav">
      <a href="/">Home Page</a>
      <a href="/update" class="button warning">Strains</a>
    </div>

    {% block body %}
    <h1><b>{{ title }}</b></h1>
    {% endblock %}
  </body>
</html --> --> -->
